In [8]:
subj1=int(input("Enter marks of subject 1 : "))
subj2=int(input("Enter marks of subject 2 : "))
subj3=int(input("Enter marks of subject 3 : "))
subj4=int(input("Enter marks of subject 4 : "))
subj5=int(input("Enter marks of subject 5 : "))
total = int(subj1 + subj2 +subj3 + subj4 + subj5);
print("your total marks are" , total )
if (total <= 500 and total >= 400):
    print("congratulations!! you have passed with A1 Grade");
elif (total <= 399 and total >= 300):
    print("congratulations!! you have passed with A Grade");
elif (total <= 299 and total >= 200):
    print("Great efforts!! you have passed with B Grade");
elif (total <= 199 and total >= 100):
    print("Good try!! you have passed with C Grade");
elif (total <= 99 and total >= 0):
    print("Try hard next time!! you have scored D Grade");
else:
    print("You have to enter score out of 100")

Enter marks of subject 1 : 80
Enter marks of subject 2 : 80
Enter marks of subject 3 : 80
Enter marks of subject 4 : 80
Enter marks of subject 5 : 80
your total marks are 400
congratulations!! you have passed with A1 Grade

In [9]:
num1=int(input("Enter a number: "))
if (num1%2==0 or num1 ==0):
    print(num1 ," is a even number")
else:
    print(num1 ,"is a odd number")

Enter a number: 566
566  is a even number

In [10]:
names=["Sarah","minahil","karen","wahab","max"]
len(names)

5

In [11]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [15]:
numbers=[1,2,3,4,5,6,7,8,0,0,0]
max(numbers)

8

In [21]:
a=[1,1,2,3,5,8,13,21,34,55,89]
for i in a :
    if i < 5:
         print (i)

1
1
2
3